/* CUSTOM-PROPS */
:root {
    --striking-color: #ff7315;
    --text-color: #222;
    --text-color-light: rgba(34, 34, 34, 0.5);
    --heading-color: #f9f9f9;
    --font-family: "Poppins", "Arial", sans-serif;
}

/* GLOBAL */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 2px dotted var(--text-color);
    outline-offset: 5px;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    background-color: #e5e5e5;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}


/* HERO */
.hero {
    padding-top: 84px;
    padding-bottom: 125px;
}
.hero-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.hero-content {
    width: 475px;
}

.hero-hi {
    font-size: 24px;
    line-height: 36px;
    color: var(--text-color);
    display: block;
    margin-bottom: 16px;
}

.hero-heading {
    font-weight: 600;
    font-size: 40px;
    line-height: 62px;
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 48px;
}

.hero-heading-md {
    display: none;
}

.hero-paragraph {
    font-size: 18px;
    line-height: 30px;
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 24px;
}

.hero-social-wrapper {
    display: flex;
    gap: 36px;
    align-items: center;
    margin-bottom: 64px;
}

.hero-social-text {
    font-size: 18px;
    line-height: 30px;
    color: rgba(34, 34, 34, 0.5);
}

.hero-social-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-social-link {
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hero-social-link:hover {
    transform: translateY(-5px);
}

.hero-social-link  img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    display: block;
}

.hero-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.button {
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    padding: 14px;
    border-radius: 10px;
    white-space: nowrap;
}

.button-request {
    color: var(--heading-color);
    background-color: #ff2950;
    border: 2px solid #ff2950;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.button-request:hover {
    background-color: var(--heading-color);
    color: #ff2950;
}

.button-cv {
    color: rgba(34, 34, 34, 0.5);
    background-color: #fff;
    border: 2px solid rgba(255, 115, 21, 0.5);
    transition: border-color 0.4s ease, color 0.4s ease;
}

.button-cv:hover {
    color: var(--text-color);
    border-color: var(--striking-color);
}

.hero-img-wrapper {
    position: relative;
    margin-top: 36px;
}

.hero-img {
    width: 406px;
    height: 406px;
    object-fit: contain;
    display: block;
}

.hero-shape-right {
    z-index: -5;
    position: absolute;
    top: 0;
    left: 212px;
}

.hero-shape-left {
    z-index: -5;
    position: absolute;
    bottom: -28px;
    right: 166px;
}

.site-header {
    padding: 10px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.sitenav-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sitenav-item {
    list-style: none;
}

.sitenav-link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--heading-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.sitenav-link:hover {
    background-color: #ff2950;
}


/* INTRODUCTION */
.introduction {
    padding-bottom: 125px;
}

.introduction-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 48px 80px 48px 12px;
    background-color: var(--striking-color);
    color: var(--heading-color);
    border-radius: 35px;
}

.introduction-content {
    width: 570px;
}

.introduction-img {
    padding-top: 18px;
}

.introduction-img img {
    width: 430px;
    height: 329px;
    object-fit: contain;
    display: block;
}

.introduction-projects-rating {
    display: flex;
    align-items: flex-end;
    gap: 49px;
    margin-bottom: 48px;
}

.introduction-projects strong {
    font-weight: 600;
    font-size: 72px;
    line-height: 62px;
    margin-bottom: 16px;
    display: block;
}

.introduction-projects p, 
.introduction-rating p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    text-transform: capitalize;
}

.introduction-rating img {
    display: block;
    object-fit: contain;
    width: 148px;
    height: 25px;
    margin-bottom: 35px;
}

.introduction-description h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    margin-top: 0;
    margin-bottom: 19px;
}

.introduction-description p {
    font-size: 24px;
    line-height: 45px;
    margin: 0;
}


/* FEATURES */
.features {
    padding-bottom: 125px;
}

.features-heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: var(--text-color);
    text-align: center;
    margin-top: 0;
    margin-bottom: 100px;
    text-transform: capitalize;
}

.features-cards {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.features-card {
    width: 100%;
    max-width: 240px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.features-img-bg {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: rgba(34, 34, 34, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.features-card-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    display: block;
}

.features-card:nth-child(3) .features-card-img {
    width: 60px;
}

.features-card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;
}

.features-card-subtitle {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0;
}


/* PORTFOLIO */
.portfolio {
    padding-bottom: 125px;
}

.portfolio-wrapper {
    padding-left: 81px;
    padding-right: 81px;
    display: flex;
    flex-direction: column;
}

.portfolio-cards {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-card img {
    width: 310px;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: opacity 0.4s ease;
}

.portfolio-card img:hover {
    opacity: 0.8;
}

.portfolio-next-page {
    align-self: flex-end;
}

.portfolio-next-page a {
    font-size: 20px;
    line-height: normal;
    color: var(--text-color-light);
    text-decoration: none;
    margin-top: 36px;
    display: block;
    display: none;
}


/* TESTIMONIALS */
.testimonials {
    background-color: var(--striking-color);
    padding-top: 48px;
    padding-bottom: 64px;
}

.testimonials-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.testimonials-heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: var(--heading-color);
    margin-top: 0;
    margin-bottom: 52px;
}

.testimonials-heading-400 {
    display: none;
}

.testimonilas-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 82px;
    margin-bottom: 64px;
}

.testimonials-card {
    width: 100%;
    max-width: 529px;
    background-color: var(--heading-color);
    border-radius: 30px;
    padding: 24px 55px 32px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.testimonials-paragraph {
    font-size: 24px;
    line-height: normal;
    text-align: left;
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 24px;
    flex-grow: 1;
}

.testimonials-footer {
    display: flex;
    align-items: center;
    gap: 37px;
}

.testimonials-footer h4 {
    font-weight: 600;
    line-height: normal;
    color: var(--text-color);
    margin: 0;
}

.testimonials-footer span {
    font-size: 14px;
    color: rgba(34, 34, 34, 0.5);
}

.testimonials-footer > div {
    display: flex;
    align-items: center;
}

.testimonials-rating span {
    display: block;
    font-weight: 600;
    color: var(--text-color);
    margin-right: 10px;
}

.testimonials-img {
    margin-right: 20px;
}

.testimonials-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: var(--heading-color);
    border-radius: 5px;
    border: 0;
}

.indicator-active {
    width: 30px;
    height: 10px;
    background-color: #505050;
}


/* PRICE */
.price {
    padding-top: 125px;
    padding-bottom: 100px;
}

.price-heading {
    font-weight: 600;
    font-size: 48px;
    text-transform: capitalize;
    line-height: normal;
    text-align: center;
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 64px;
}

.price-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 67px;
}

.price-item {
    list-style: none;
    width: 100%;
    max-width: 335px;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--heading-color);
    transition: transform 0.4s ease;
}

.price-item:hover {
    transform: translateY(-10px);
}

.price-item:nth-child(2) .price-item-heading {
    padding: 18px 139px;
}

.price-item:nth-child(3) .price-item-heading {
    padding: 18px 118px 18px 120px;
}

.price-item:first-child .price-item-service:nth-child(n+4) {
    color: #c5c5c5;
}

.price-item:nth-child(2) .price-item-service:nth-child(n+8) {
    color: #c5c5c5;
}

.price-item-heading {
    margin-top: 0;
    margin-bottom: 36px;
    padding: 18px 134px;
    font-weight: 600;
    font-size: 24px;
    color: var(--heading-color);
    background-color: #ff9b70;
}

.price-item-price {
    font-weight: 700;
    font-size: 32px;
    color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 29px;
}

.price-item-price::after {
    content: "/Hour";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-left: 12px;
    color: rgba(43, 43, 43, 0.7);
}

.price-item-services {
    padding: 0;
    margin: 0;
    padding-left: 48px;
    padding-right: 34px;
    padding-bottom: 24px;
}

.price-item-service {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.price-item-divider {
    border: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    max-width: 253px;
    height: 0.5px;
    background-color: rgba(34, 34, 34, 0.1);
}

.price-item-service-icon {
    width: 24px;
    height: 24px;
}


/* EMAIL-CTA */
.email-cta {
    padding-bottom: 125px;
}

.cta-container {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 25px;
    background-color: var(--striking-color);
    padding: 50px 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-heading {
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 62px;
    color: var(--heading-color);
}

.cta-button {
    border: 0;
    padding: 17px 74px;
    border-radius: 10px;
    display: inline-block;
    background-color: var(--heading-color);
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    color: var(--text-color);
    white-space: nowrap;
    transition: color 0.4s ease;
}

.cta-button:hover {
    color: var(--striking-color);
}


/* BLOG */
.blog {
    padding-bottom: 125px;
}

.blog-heading-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.blog-heading {
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: var(--text-color);
}

.blog-link {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    line-height: normal;
    color: var(--text-color-light);
    white-space: nowrap;
}

.blog-icon {
    margin-left: 8px;
}

.blog-cards {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    overflow-x: auto;
}

.blog-card {
    width: 100%;
    max-width: 270px;
    border-radius: 15px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.07);
    background-color: var(--heading-color);
}

.blog-card-img {
    border-radius: 15px;
    object-fit: cover;
    display: block;
    width: 242px;
    height: 166px;
    margin-bottom: 24px;
}

.blog-card-heading {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: var(--text-color);
    text-transform: capitalize;
}

.blog-card-paragraph {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: var(--text-color-light);
}

.blog-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    background-color: #fff;
    text-decoration: none;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.09);
    transition: transform 0.4s ease;
}

.blog-card-icon:hover {
    transform: translateX(5px);
}


/* SITE-FOOTER */
.site-footer {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f1f1f1;
}

.site-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.email {
    display: flex;
    align-items: center;
    gap: 23px;
    color: var(--text-color-light);
    order: -3;
}

.email-svg {
    width: 24px;
    height: 22px;
}

.email-text {
    font-size: 18px;
    line-height: normal;
}

.copyright {
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: var(--text-color);
    white-space: nowrap;
    order: -1;
}

.socials {
    order: -2;
}

.socials-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
}

.socials-item {
    transition: transform 0.4s ease;
}

.socials-item:hover {
    transform: scale(1.2);
}

.socials-link {
    text-decoration: none;
}

.icon-svg {
    width: 22px;
    height: 22px;
    display: block;
    color: var(--striking-color);
}

/* MEDIA-QUERIES */
/* 1250PX */
@media only screen and (max-width: 1250px) {
    .price-list {
        align-items: center;
        justify-content: center;
        gap: 64px;
    }
    
    .price-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .portfolio-wrapper {
        padding: 0;
    }
    
    .portfolio-card img {
        width: 270px;
        height: 270px;
    }
    
    .hero-container {
        justify-content: center;
        gap: 0;
    }   
    
    .hero-img {
        display: none;
    }
}

/* 1000PX */
@media only screen and (max-width: 1000px) {
    .cta-container {
        flex-direction: column;
    }
    
    .cta-heading {
        margin-bottom: 58px;
    }
    
    .portfolio-card img {
        width: 210px;
        height: 210px;
    }
}

/* 1150PX */
@media only screen and (max-width: 1150px) {
    .introduction-container {
        flex-direction: column-reverse;
        align-items: center;
        padding: 50px;
    }
    
    .introduction-projects-rating {
        justify-content: space-between;
    }
    
    .introduction-img {
        padding: 0;
        margin-top: 48px;
    }
}

/* 750PX */
@media only screen and (max-width: 750px) {
    .portfolio-card img {
        width: 170px;
        height: 170px;
    }
}

/* 670PX */
@media only screen and (max-width: 670px) {
    .introduction-projects-rating {
        flex-direction: column;
        align-items: center;
    }
    
    .introduction-projects,
    .introduction-rating {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .introduction-content {
        width: 455px;
    }
}

/* 650PX */
@media only screen and (max-width: 650px) {
    
    .testimonials-heading {
        font-size: 40px;
    }
    
    .testimonials-card {
        width: 450px;
        align-items: flex-start;
        flex-direction: column-reverse;
        padding: 24px 20px 34px;
    }
    
    .testimonials-footer {
        flex-direction: column;
    }
    
    .testimonials-paragraph {
        margin-bottom: 0;
        margin-top: 32px;
        font-size: 22px;
    }
}

/* 620PX */
@media only screen and (max-width: 620px) {
    .site-footer-container {
        flex-direction: column;
    }
    
    .blog-heading {
        font-size: 32px;
    }
    
    .cta-container {
        padding: 25px 38px;
    }
    
    .cta-heading {
        font-size: 32px;
    }
    
    .price-heading {
        font-size: 32px;
    }
    
    .features-heading {
        font-size: 32px;
        margin-bottom: 64px;
    }
    
    .features-cards {
        gap: 75px;
    }
    
    .features {
        padding-bottom: 100px;
    }
}

/* 550PX */
@media only screen and (max-width: 550px) {
    .testimonials-heading {
        font-size: 35px;
    }
    
    .portfolio-link {
        display: none;
    }
    
    .portfolio-next-page a {
        display: block;
    }
    
    .introduction-content {
        width: 450px;
    }
    
    .introduction-container {
        padding: 20px;
    }
    
    .introduction-projects strong {
        font-size: 68px;
    }
}

/* 505PX */
@media only screen and (max-width: 505px) {
    .introduction-content {
        width: 350px;
    }
    
    .introduction-projects strong {
        font-size: 60px;
    }
    
    .introduction-img img {
        width: 350px;
    }
    
    .hero-heading {
        font-size: 35px;
        margin-bottom: 40px;
    }
}

/* 500PX */
@media only screen and (max-width: 500px) {
    .email-cta-container {
        padding: 0;
        margin: 0;
    }
    
    .introduction-container {
        padding: 20px;
        margin: 0;
    }
    
    .cta-container {
        margin: 0;
    }
    
    .testimonials-heading {
        font-size: 32px;
    }
    
    .testimonials-card {
        width: 380px;
    }
    
    .testimonials-paragraph {
        font-size: 18px;
    }
    
    .portfolio-card img {
        width: 160px;
        height: 160px;
    }
    
    .introduction-description h2 {
        font-size: 44px;
    }
    
    .introduction-description p {
        text-align: left;
    }
}

/* 450PX */
@media only screen and (max-width: 450px) {
    .testimonials-container {
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .testimonials-heading {
        font-size: 32px;
    }
    
    .testimonials-card {
        width: 350px;
    }
    
    .testimonials-paragraph {
        font-size: 14px;
    }
    
    .introduction-description h2 {
        font-size: 38px;
    }
    
    .hero {
        padding-bottom: 109px;
    }
    
    .hero-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .hero-social-wrapper {
        justify-content: center;
        margin-bottom: 48px;
    }
    
    .hero-social-text {
        display: none;
    }
    
    .hero-links {
        justify-content: center;
    }
    
    .hero-heading {
        font-size: 32px;
        margin-bottom: 24px;
    }
    
    .hero-img {
        display: none;
    }
    
    .hero-heading-xxl {
        display: none;
    }
    
    .hero-heading-md {
        display: inline-block;
    }
    
    .hero-heading .hero-a {
        display: none;
    }
}

/* 420PX */
@media only screen and (max-width: 420px) {
    .testimonials-heading {
        display: none;
    }
    
    .testimonials-heading-400 {
        display: block;
        font-size: 32px;
    }
    
    .portfolio-cards {
        gap: 13px;;
    }
    
    .portfolio-card img {
        width: 161px;
        height: 156px;
    }
    
    .portfolio-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .introduction-projects strong {
        font-size: 55px;
    }
}

/* 400PX */
@media only screen and (max-width: 400px) {
    .testimonials-card {
        width: 326px;
    }
    
    .introduction-content {
        width: 338px;
    }
    
    .sitenav-list {
        gap: 10px;
    }
    
    .sitenav-link {
        width: 45px;
        height: 45px;
    }
}

/* 380PX */
@media only screen and (max-width: 380px) {
    .cta-heading {
        font-size: 30px;
        white-space: nowrap;
    }
    
    .price-item-heading {
        padding: 18px 87px;
        text-align: center;
    }
    
    .price-item:nth-child(2) .price-item-heading {
        padding: 18px 87px;
        text-align: center;
    }
    
    .price-item:nth-child(3) .price-item-heading {
        padding: 18px 60px;
        text-align: center;
    }
}

/* 375PX */
@media only screen and (max-width: 375px) {
    .testimonials-heading-400 {
        display: block;
        font-size: 28px;
    }
    
    .testimonials-card {
        width: 326px;
    }
    
    .introduction-projects strong {
        font-size: 48px;
    }
    
    .introduction-description h2 {
        font-size: 32px;
    }
    
    .introduction-description p {
        font-size: 20px;
    }
    
    .introduction-img img {
        width: 299px;
        height: 228px;
    }
}

/* 374PX */
@media only screen and (max-width: 374px) {
    .testimonials-heading-400 {
        font-size: 26px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    
    .testimonials-card {
        width: 300px;
    }
    
    .portfolio-card img {
        width: 140px;
        height: 136px;
    }
    
    .introduction-content {
        width: 320px;
    }
    
    .hero {
        padding-bottom: 100px;
    }
    
    .hero-heading {
        font-size: 28px;
        line-height: 45px;
    }
}

/* 360PX */
@media only screen and (max-width: 360px) {
    .introduction-content {
        width: 300px;
    }
    
    .hero-heading {
        font-size: 24px;
        line-height: 38px;
    }
    
    .hero-paragraph {
        font-size: 16px;
        line-height: 22px;
    } 
    
    .button {
        padding: 14px;
        font-size: 15px;
    }
}

/* 340PX */
@media only screen and (max-width: 340px) {
    .cta-container {
        padding: 15px 25px;
    }
    
    .cta-heading {
        font-size: 27px;
    }
    
    .cta-button {
        padding: 15px 45px;
    }
    
    .testimonials-heading-400 {
        font-size: 24px;
    }
    
    .testimonials-card {
        width: 275px;
    }
    
    .introduction-content {
        width: 280px;
    }
}

/* 332PX */
@media only screen and (max-width: 332px) {
    .portfolio-card img {
        width: 105px;
        height: 100px;
    }
}

/* 320PX */
@media only screen and (max-width: 320px) {
    .testimonials-heading-400 {
        font-size: 20px;
    }
    
    .testimonials-card {
        width: 250px;
    }
    
    .introduction-content {
        width: 250px;
    }
    
    .button {
        padding: 12px;
        font-size: 14px;
    }
    
    .hero-heading {
        text-align: center;
    }
    
    .hero-paragraph {
        text-align: center;
    }
    
    .hero-links {
        gap: 20px;
    }
}

/* 300PX */
@media only screen and (max-width: 300px) {
    .sitenav-link {
        width: 40px;
        height: 40px;
    }
}

/* 290PX */
@media only screen and (max-width: 290px) {
    .introduction-content {
        width: 240px;
    }
}